* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    background: black;
    color: red;
    font-family: Arial, sans-serif;
    cursor: url('cursor.png'), auto; 
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
    
.content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 20px;
}
    
#about {
    text-align: center;
}
    
#projects {
    text-align: center;
}

#achievements{
    text-align: center;
}

#contact {
    text-align: center;
}

#nav-links:hover {
    cursor: url('cursor.png'), auto;
}

#btn {
    color: black;
    background: #8B0000;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

#btn:hover {
    color: #8B0000;
    background: transparent;
    border-color: #8B0000;
    cursor: url('cursor.png'), auto;
}


.profile-box {
    width: 200px;
    height: 150px; 
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto 20px;
}
    
.profile-box img {
    width: 100%;
    height: auto;
    border-radius: 0;
}

#project-cards:hover {
    cursor: url('cursor.png'), auto;
}

#certificate{
    height: 400px;
}

#certificate:hover{
    cursor: url('cursor.png'), auto;
}

form input,
form textarea {
    background-color: transparent;
    border: 2px solid red;
    color: red; /* <-- makes the typed text red */
}

form input::placeholder,
form textarea::placeholder {
    color: red;
    opacity: 1;
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: #ff4d4d;
    box-shadow: 0 0 5px red;
}

form input:hover,
form textarea:hover {
    cursor: url('cursor.png'), auto;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #000 inset !important; /* Background color */
  -webkit-text-fill-color: red !important; /* Text color */
  caret-color: red !important;
  border: 2px solid red;
  transition: background-color 5000s ease-in-out 0s;
}

input:-moz-autofill,
textarea:-moz-autofill,
select:-moz-autofill {
  box-shadow: 0 0 0px 1000px #000 inset !important;
  color: red !important;
  caret-color: red !important;
  border: 2px solid red;
}


#social-box{
    border-radius: 20px;
    border-color: #FF0000;
}

#icons{
    color: black;
    background: #8B0000;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}
    
#icons:hover {
    color: #8B0000;
    background: transparent;
    border-color: #8B0000;
    cursor: url('cursor.png'), auto;
}
