#about {
  text-align: center;
}

#projects {
  text-align: center;
}

#contact {
  text-align: center;
}

.profile-box {
  width: 200px;
  height: 150px; 
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto 20px;
}

.profile-box img {
  width: 100%;
  height: auto;
  border-radius: 0;
}

body {
  cursor: url('cursor-pointer.png'), auto;
}
